@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@font-face {
  font-family: "font-1";
  src: url(./assest/MochiyPopPOne-Regular.ttf);
}
/* * {
  border: 2px solid;
} */
body {
  font-family: "font-1";
  background: url(./images/bg.jpg) no-repeat fixed left/cover;
  height: 100vh;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4em;
  color: #ffee00;
  text-shadow: 5px 2px 8px rgb(253, 0, 0);
  text-align: center;
  font-family: "Mochiy Pop P One", sans-serif;
}
main {
  background-color: #ff7b7b42;
  width: 90%;
  min-height: 500px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 9px -1px 8px 0px #f1db14d7;
}
/******************** position ******************/
.pos,
.flexbox,
.grid {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
.pos {
  height: 300px;
  position: relative;
}
h2 {
  color: red;
  margin: 0;
}
ol {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    }

}
/************************ FLEXBOX ***************/
ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 0.7em;
  height: 160px;
  width: 160px;
  background-image: url(./images/burg1.png);
  /****************** centrer verticalement les element de la box **************/
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/*******************************   GRID    ***************************/
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}
.img {
  text-align: center;
}
input,
textarea {
  margin: 5px;
  height: 45px;
  border: 1px solid darkblue;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: "font-1";
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "bt bt";
}

#firstname {
  grid-area: i1;
}
#surname {
  grid-area: i2;
}
textarea {
  grid-area: ta;
  resize: none;
}
input[type="submit"] {
  grid-area: bt;
  cursor: pointer;
  background: red;
  transition: 0.4s;
}
input[type="submit"]:hover {
  background: rgb(239, 255, 19);
  color: black;
}
@media screen and (max-width: 1000px) {
  .grid-container {
    display: block;
  }
}
@media screen and (max-width: 840px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "ta"
      "bt";
  }
}

